head,style,script{display: none;}
/*
*:empty:not(input,img){
    display: none;
}
*/

*:not(style,script,head){
    border-width: 0;
    border-style: solid;
    border-color: black;
    outline-width: 0;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    height: auto;
    text-align: justify;
    text-decoration: none;
}

html{
    justify-content: center;
    padding: 0;
    margin: auto;
    align-self: center;
}

body{
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin: auto;
    align-self: center;
    padding: 0;
}

body *{
    margin: 0
}

body * *{
    margin: 0;
}

body *:has(*){
    display: inline-flex;
    justify-content: center;
}

li{
    display: list-item;
    background-color: rgba(255, 0, 0, 0);
}

ul{
    padding-left: .5rem ;
}
